# Project files
client.py

# Byte-compiled / optimized / DLL files
*.py[cod]

# PyCharm files
.idea

# Output and input
data.csv
tickers.csv
sp500tickers.csv
sp500.csv

#Ipython Notebook
*.ipynb
.ipynb_checkpoints
